{
  "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentParameters.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "entrGroupIds": {
      "value": [
        "xxxxxxxxxxxxxxxxxxxx"
      ]
    },
    "rgName": {
      "value": "rg-uaen-spai-dev-tfstate"
    },
    "storageAccountName": {
      "value": "01uaenspaidevtfstate"
    },
    "storageContainerName": {
      "value": [
        "azdo-aca-ephemeral-agents"
      ]
    }
  }
}
